// Compile "main.scss" as "dist/main.css"

/**
 * Add custom styles
 *
 * CSS variables are defined in "theme.json"
 * https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json
 */

// Grayscale vars
$black: var(--wp--preset--color--black) !default;
$dark-gray: var(--wp--preset--color--dark-gray) !default;
$gray: var(--wp--preset--color--gray) !default;
$white: var(--wp--preset--color--white) !default;

// Color vars
$charcoal: var(--wp--preset--color--charcoal) !default;
$green: var(--wp--preset--color--green) !default;
$yellow: var(--wp--preset--color--yellow) !default;
$orange: var(--wp--preset--color--orange) !default;
$red: var(--wp--preset--color--red) !default;

// Spacing
$spacing-vertical: var(--wp--preset--spacing--3, 1rem) !default;
$spacing-horizontal: var(--wp--preset--spacing--4, 1.5rem) !default;

// Responsive breakpoints
$media-max-width-sm: 599px; // var(--wp--custom--media-max-width--sm);
$media-max-width-lg: 999px; // var(--wp--custom--media-max-width--lg);

:root {
	--custom--media-max-width--sm: #{$media-max-width-sm};
	--custom--media-max-width--lg: #{$media-max-width-lg};
}

/**
 * General
 */

img {
	vertical-align: middle;
}

textarea,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"] {
	display: flex;
	border: 1px solid $dark-gray !important;
}

h1,
.h1 {
	font-size: var(--wp--custom--typography--font-size--colossal);
	line-height: var(--wp--custom--typography--line-height--page-title);
}

/**
 * WordPress customization
 */

body {
	&.author {
		.wp-block-post-author {
			align-items: center;
			margin-bottom: calc(#{$spacing-vertical} * 3);

			.wp-block-post-author__avatar {
				margin-right: calc(#{$spacing-horizontal} * 2);

				.avatar {
					width: 180px;
					height: auto;
				}
			}

			.wp-block-post-author__name {
				@extend .h1;
			}

			.wp-block-post-author__bio {
				font-size: var(--wp--preset--font-size--normal);
				line-height: var(--wp--custom--typography--line-height--body);
			}
		}
	}

	&.category {
		.wp-block-term-description {
			font-size: var(--wp--preset--font-size--normal);
			line-height: var(--wp--custom--typography--line-height--body);
			margin-bottom: calc(#{$spacing-vertical} * 3);
		}
	}
}

/* Header */

header {
	&.site-header {
		padding: 0 $spacing-horizontal;

		.wp-block-search {
			max-width: 290px;

			.wp-block-search__button {
				padding: 0;
				color: inherit;
			}
		}
	}
}

/* Main */

main {
	.wp-block-query {
		.wp-block-post-title {
			padding: 0;
		}
	}
}

/* Footer */

footer {
	&.site-footer {
		margin-top: calc(#{$spacing-vertical} * 3);
		padding: 0 $spacing-horizontal;
	}
}

/* WordPress Blocks */

// General

ul.wp-block-post-template {
	list-style: none;
	padding: 0;

	li {
		margin-bottom: calc(#{$spacing-vertical} * 3);
	}
}

// Password protected form

.post-password-form {
	p:nth-of-type(2) {
		display: flex;
		align-items: flex-end;

		label {
			min-width: 150px;
			margin-right: calc(#{$spacing-horizontal} * 0.5);
		}
	}
}

// Comment form: fields

[class*="comment-form-"] {
	display: flex;

	label {
		min-width: 150px;
		margin-right: calc(#{$spacing-horizontal} * 0.5);
	}
}

.comment-form-cookies-consent {
	display: block;
}

// Block: Search

.wp-block-search {
	&.wp-block-search__button-inside {
		.wp-block-search__inside-wrapper {
			border-color: $dark-gray;

			input[type="search"] {
				border: none !important;
			}
		}

		.wp-block-search__button {
			background: transparent;
			border: none;
		}
	}
}

// Block: Navigation

.wp-block-navigation {
	.wp-block-navigation-link {
		&.current-menu-item,
		a:focus {
			.wp-block-navigation-item__label {
				border-bottom: 2px solid;
			}
		}
	}

	.wp-block-navigation__responsive-container-close {
		position: fixed;
		top: $spacing-vertical;
		right: $spacing-horizontal;
	}
}

// Block: Pagination

.wp-block-query-pagination {
	a {
		text-decoration: none;
	}

	.wp-block-query-pagination-numbers {
		.page-numbers:not(.dots) {
			display: inline-block;
			border: 1px solid;
			text-align: center;
			min-width: 30px;

			&.current {
				font-weight: bold;
			}
		}
	}
}

// Block: Post navigation

.wp-block-post-navigation-link {
	margin: calc(#{$spacing-vertical} * 2) 0;
	padding: 0 $spacing-horizontal;

	&.post-navigation-link-previous {
		a {
			&::before {
				content: "«";
				display: inline-block;
				width: 20px;
			}
		}
	}

	&.post-navigation-link-next {
		a {
			&::after {
				content: "»";
				display: inline-block;
				width: 20px;
				text-align: right;
			}
		}
	}
}

// Block: Featured image

.wp-block-post-featured-image {
	img {
		width: 100%;
	}
}

// Block: Post avatar

.wp-block-post-author__avatar {
	.avatar {
		border-radius: 50%;
	}
}

// Block: Comments

.wp-block-post-comments {
	margin-top: calc(#{$spacing-vertical} * 3);

	.comment-respond {
		margin-top: calc(#{$spacing-vertical} * 3);
	}

	.nocomments {
		display: none;
	}
}

// Block: Separator

.wp-block-separator {
	opacity: 1;
	border-width: 1px;

	.wp-block-post-content & {
		margin-top: calc(#{$spacing-vertical} * 2);
		margin-bottom: calc(#{$spacing-vertical} * 2);
	}
}

// Block: Table

.wp-block-table {
	td,
	th {
		border: inherit;
	}

	table {
	}
}

// Block: Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
	img,
	video {
		height: auto;
	}
}

/**
 * Responsive Design (Block Library):
 * /wp-includes/css/dist/block-library/style.css
 */

@media (max-width: $media-max-width-lg) {
	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="search"] {
		width: 100%;
	}
}

@media (max-width: $media-max-width-sm) {
	header {
		&.site-header {
			.wp-block-navigation {
				.wp-block-navigation__container {
					width: 100%;
				}

				.wp-block-search {
					order: -1;
				}
			}
		}
	}

	main {
		[type="submit"],
		#submit {
			width: 100%;
		}
	}

	footer {
		&.site-footer {
			.wp-block-site-title,
			[class*="has-text-align-"] {
				text-align: center;
			}

			.wp-block-site-title,
			.wp-block-navigation {
				width: 100%;
			}

			.wp-block-site-title {
				margin-bottom: $spacing-vertical;
			}

			.wp-block-navigation {
				justify-content: center;
			}
		}
	}

	.wp-block-post-navigation-link {
		margin: $spacing-vertical 0;
		padding: 0 $spacing-horizontal;
		text-align: center;

		&.post-navigation-link-previous {
			margin-top: calc(#{$spacing-vertical} * 3);
		}
	}
}
