<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:heading {"level":1,"align":"wide","className":"wp-block-post-title"} -->
	<h1 class="wp-block-post-title alignwide">
		<!-- wp:query-title {"type":"search"} /-->
	</h1>
	<!-- /wp:heading -->

	<!-- wp:template-part {"slug":"query"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->